.profile__ava-edit {
    position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 0;
}

.profile__ava-edit:hover {
    opacity: 0.8;
    cursor: pointer;
}
.profile__ava-edit::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(../../../images/Vectorpen.svg);
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: center;
}