.page {
    min-height: 100vh;
    width: 100%;
    background-color: #000000;
    color: #fff;
    font-family: 'inter', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }