.popup__title {
    margin: 0 0 24px;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    color: #000;
}

.popup__title_center {
    text-align: center;
    margin: 0;
}

@media (max-width: 500px) {
    .popup__title {
        font-size: 18px;
        margin: 0 0 45px;
    }
  }