.element__name-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 21px;
    align-items: center;
    bottom: 0;
    background-color: white;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    
    
}