.element__delete{
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  background: url(../../../images/delete.svg) no-repeat center;
  transition: opacity 0.3s ease;
}
.element__delete:hover {
    opacity: 0.6;
    cursor: pointer;
}