.profile__desc {
    margin: 15px 0 0;
    grid-row: 2/3;
    grid-column: 2/3;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    align-self: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
@media (max-width: 700px) {
    .profile__desc {
        font-size: 12px;
    }
}
@media (max-width: 450px) {
    .profile__desc {
        margin: 14px auto 0;
        grid-row: 3/4;
        grid-column: 1/2;
        font-size: 14px;
        line-height: 1.1;
    }
}