.popup__input {
  font-family: inherit;
  margin-top: 30px;
  border: 1px solid rgba(0,0,0,0.2);
  border-top: none;
  border-right: none;
  border-left: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2px;
  width: 358px;
}
.popup__input_type_error {
  border-bottom-color: red;
}
@media (max-width: 500px) {
  .popup__input  {
    width: 238px;
  }
}