.header {
    width: 100%;
    max-width: 880px;
    border-bottom: 1px solid rgba(84,84,84, .7);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 880px) {
    .header {
        max-width: calc(100% - 40px);
    }
}
@media (max-width: 400px) {
    .header {
        max-width: 100%;
    }
}